body{
    margin: 0;
    padding: 0;    
    margin: 0 auto;
    font-family: 'Fira Sans';
    background-color: white;
}

a, h1, p, h3{
    text-decoration: none;
    margin: 0;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 1rem auto;
}

header img{
    padding: 1rem;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

header nav ul a{
    padding: 1rem 1rem;
    color: rgb(0, 0, 0);
    margin: 0 0.7rem;
    font-size: 1.1rem;
}

.container{
    display: grid;
    grid-template-columns: 30rem 1fr;
    margin: 0 auto;
    width: 1200px;    
    padding: 7rem 0; 
}

.img-perfil{
    max-width: 360px;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil div{
    margin: 0 auto;
    position: relative;
}

.perfil h1{
    font-size: 72px;
    font-weight: bold;
    max-width: 12ch;    
}

.perfil h1::before{
    content: url(images/detalhe.svg);
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -30px;
}

.perfil p{
    font-size: 24px;
    font-weight: 400;
}

.txt-xp{
    color: #E5E5E5;
    font-size: 9rem;
    word-wrap: break-word;
    max-width: 3.8ch;
}

.xp p{
    font-size: 1.7rem;
    max-width: 45ch;
}

.card-list{
    margin-top: 4rem;
}

.card-xp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    max-width: 42rem;
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    margin: 1rem 0;
}

.card-xp p{
    color: #525252;
    font-size: 0.9rem;
}

.card-xp-titulo::before{
    content: url(images/detalhe2.svg);
    position: absolute;
    left: -2px;
}

.card-xp-cargo{    
    grid-column: 2;
    grid-row: 1;
    
}

.tech-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-start;
}

.tech-item{
    background-color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    max-width: fit-content;  
}

.form{
    background-color: #141414;  
     
}

.txt-formacao{
    color: #000;
    font-size: 9rem;
    word-wrap: break-word;
    max-width: 4ch;
}

.strong-white{
    color: #fff;
}

.formacao{
    color: #A3A3A3;
}

.formacao p{
    font-size: 1.5rem;
    max-width: 40ch;
}

.titulo-list{
    display: flex;
    gap: 0 2rem;
}

.titulo-item{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 4px;
    width: 11rem;
    height: 11rem;
    position: relative;    
    background-color: #000;
}

.titulo-nome{
    margin-top: 0.8rem;
}

.titulo-nome::before{
    content: url(images/detalhe2.svg);
    position: absolute;
    left: -0.1rem;
}

.titulo-instituicao{
    margin: auto 0 0.5rem 0;
}

.formacao-extra{
    grid-column: 2;
    color: #8F8F8F;
}

.formacao-extra h3{
    font-weight: 600;
    padding: 1rem 0;
}

.form-extra-item{
    padding: 1rem 0;
    position: relative;
}

.form-extra-item-curso::before{
    content: url(images/cursos.svg);
    position: absolute;
    left: -2.5rem;
}

.form-extra-item-lang::before{
    content: url(images/idiomas.svg);
    position: absolute;
    left: -2.5rem;
}

.certificado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
    max-width: 42.5rem;
}

.certificado p{
    display: block;
}

footer{
    background-color: #000;
    position: relative;   
}

.msg-footer::before{
    content: url(images/detalhe.svg);
    position: absolute;
    top: -3.8rem;
}

.msg-footer{
    color: #CCCCCC;
    font-size: 1.5rem;
    max-width: 32ch;
    margin: auto 0;
}

footer .direitos{
    color: #8F8F8F;
}

.contatos{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 2.25rem;
    font-weight: 700;
}

.contatos p{
    margin-top: 1.2rem;
}

.direitos{
    margin-top: 5rem;
}