body{
    margin: 0;
    padding: 0;    
    margin: 0 auto;
    font-family: 'Fira Sans';
    padding: 1rem;
    background-color: white;
}

a, h1, p, h3{
    text-decoration: none;
    margin: 0;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

header img{
    padding: 1rem;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

header nav ul a{
    padding: 1rem 1rem;
    color: rgb(0, 0, 0);
    margin: 0 0.7rem;
    font-size: 1.1rem;
}

.container{
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: 7rem 0;
    margin: 4rem auto;
    max-width: 1200px;
}

.img-perfil{
    max-width: 360px;
}

.perfil{
    display: flex;
    align-items: center;
}

.perfil div{
    margin: 0 auto;
    position: relative;
}

.perfil h1{
    font-size: 72px;
    font-weight: bold;
    max-width: 10ch;    
}

.perfil h1::before{
    content: url(images/detalhe.svg);
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -30px;
}

.perfil p{
    font-size: 24px;
    font-weight: 400;
}

.txt-xp{
    color: #E5E5E5;
    font-size: 9rem;
    word-wrap: break-word;
    max-width: 3.8ch;
}

.xp{
    padding: 2rem;
}

.xp p{
    font-size: 1.5rem;
    max-width: 50ch;
}

.card-xp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    max-width: 42rem;
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    margin: 1rem 0;
}

.card-xp p{
    color: #525252;
    font-size: 0.9rem;
}

.card-xp-titulo::before{
    content: url(images/detalhe2.svg);
    position: absolute;
    left: -4px;
}

.card-xp-cargo{    
    grid-column: 2;
    grid-row: 1;
    
}

.tech-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: flex-start;
}

.tech-item{
    background-color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    max-width: fit-content;  
}

.form{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 30rem 1fr;
    background-color: #141414;
}

.txt-formacao{
    color: #000;
    font-size: 9rem;
    word-wrap: break-word;
    max-width: 4ch;
}

.strong-white{
    color: #fff;
}

.formacao{
    color: #A3A3A3;
}

.titulo-list{
    display: flex;

}

.titulo-item{
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: 1rem 1rem;
    border-radius: 4px;
    max-width: 12.75rem;
    height: 11rem;
    position: relative;
}

.titulo-nome{
    margin-top: 0.8rem;
}

.titulo-nome::before{
    content: url(images/detalhe2.svg);
    position: absolute;
    left: -0.3rem;
}

.titulo-instituicao{
    margin: auto 0 0.5rem 0;
}